// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
//
$bg: linear-gradient(to top, rgb(40, 40, 40), rgb(92, 121, 113), rgb(224, 215, 215), rgb(255, 255, 255));
$bg2: linear-gradient(to bottom, rgb(40, 40, 40), rgb(218, 225, 218), rgb(231, 236, 230), rgb(203, 200, 194));
$userinfo2: rgb(109, 63, 63);
$userinfo: rgb(40, 17, 17);
$footer-bg: rgb(203, 200, 194);
$service-bg: #485d47;
$home-shadow: #272f27;
$home-text: #dcdcdc;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
