@import '../sass/variables';

.footer{
    text-align: center;
    min-height: 30vh;
    background-color: $footer-bg;
}
.footer-logo{
    width: 15%;
    border-radius: 50%;
    p1{
        color: white;
    }
}

.fbicon:hover  {
    color: #22345a !important;
}
.yticon:hover  {
    color: #700202 !important;
}
.inicon:hover  {
    color: #582251 !important;
}
.ttricon:hover  {
    color: #075585 !important;
}
.pticon:hover  {
    color: #974034 !important;
}
