@import "../sass/variables";
.navbar {
    margin:-8px;
    position: fixed;
    min-height: 40px;
    min-width: 100vw;
    padding-bottom: 5px;
    background:whitesmoke;
    z-index: 200;
    .nav-ul {
        ul {
            padding-top: .5%;
            display: flex;
            font-size: 18px;
            input{
                width: 40vw;
                height: 45px;
                border-radius: 5px;
                border-style: ridge;
                color: #230d0a;
                background-color: whitesmoke;
            }
            button{
                margin-left: -5%;
                border-style: hidden;
                color: #0f1a0d;
                background-color: inherit;
                cursor: pointer;
            }
            .home-search{
                margin-left: -36%;
                padding-bottom: .4%;
            }
        }

        li {
            list-style: none;
            margin-left: 30px;
            font-weight: lighter;
            text-decoration: none;
        }
    }
}


.user-name-nav {
    position: fixed;
    right: 4.5%;
    top: 1%;
    z-index: 200;

    a{
        color: $userinfo;
    }

    p {
        color: $userinfo;
    }

    .hide {
        display: none;
    }

    .modal-logout {
        button {
            border-style: none;
            background-color: $userinfo2;
            font-size: 14px;
            float: right;
            width: 100%;
            padding: 8px;
            border-radius: 5px;
            color: rgb(228, 224, 224);
            cursor: pointer;
        }
        .modal-cart{
            background-color: $userinfo;
            padding: 8px;
            color: rgb(228, 224, 224);
            float: right;
            width: 90%;
            cursor: pointer;
            text-align: center;
            border-radius: 5px;
            font-size: 14px;
        }
    }
}


.home-logo {
    margin-right: 40%;
}

.logo {
    position: absolute;
    top: 5%;
    width: 200px;
    height: 55px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

input:focus{
    outline: none;
}
