@import "../sass/variables";

.home {
    font-family: "Agency FB";
    margin: -8px;
    min-height: 300vh;
    background: $bg;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.home2 {
    font-family: "Agency FB";
    margin: -8px;
    min-height: 300vh;
    background: $bg2;
    background-size: cover;
}

.bg {
    margin-left: 0.1%;
    min-height: 40vh;
    max-width: 80vw;
   // background: url("../js/assets/bg.jpg");
    background-color: whitesmoke;
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    border-bottom-right-radius: 270px;
    overflow-x: hidden;

    .home-image-grid{
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));

        img{
            width: 20%;
            opacity: .9;
            cursor: pointer;
        }
    }
}

.title-level {
    margin-top: 25px;
    margin-bottom: 4px;
    min-width: fit-content;

    h2 {
        font-weight: lighter;
        margin-left: 5%;
        padding-bottom: 12px;
        color: #7e4b3e;
    }
}

.category-box {
    border-radius: 4px;
    width: 90vw;
    margin-left: 1vw;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: inherit;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
}

.carousel {
    padding: 0%;
    margin-left: 9%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    width: 90%;
}

.slider {
    border-right-style: inset;
    border-bottom-style: inset;
    border-width: thin;
    margin: 10px;
    padding-right: 5px;
    padding-top: 0px;
    border-radius: 2%;
    max-height: 66vh;
    min-height: 66vh;
    background-color: inherit;
    &:hover{
        opacity: .9;
    }

    button {
        padding: 4px 8px 4px 8px;
        color: #ffffff;
        border-style: none;
        background-color: #974034;
        cursor: pointer;
        font-size: 18px;
        font-family: "Agency FB";
        position: fixed;
        bottom: 2.9%;
        left: 29%;
        border-radius: 6%;
        opacity: .9;
        &:hover{
            background-color: whitesmoke;
            color:  #974034;
        }
    }

    a {
        text-decoration: none;
        color: rgb(86, 65, 44);
    }
}

.slider-header {
    h2 {
        text-align: center;
        font-size: 17px;
        padding-bottom: 5px;
        font-weight: bold;
        color: #974034;
    }
}

.slider-image {
    img {
        width: 100%;
        border-radius: 10px;
        padding-top: 2%;
        &:hover{
            width: 95%;
        }
    }
}

.slider-caption {
    p {
        text-align: center;
        font-size: 15px;
        color: #1c331c;
    }
}

.slider-price{
    p{
        text-align: center;
        font-size: 20px;
        color: #75591d;
    }

}
