@import "../sass/variables";

.home {
    font-family: "Agency FB";
    margin: -8px;
    min-height: 300vh;
    background: $bg;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.home2 {
    font-family: "Agency FB";
    margin: -8px;
    min-height: 300vh;
    background: $bg2;
    background-size: cover;
}

.bg {
    margin-left: 0.1%;
    min-height: 80vh;
    margin-bottom: 4%;
    max-width: 80vw;
    background: url("../js/assets/a.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-position: top;
    border-bottom-right-radius: 270px;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));
}

.title-level {
    margin-top: 25px;
    margin-bottom: 4px;
    min-width: fit-content;
    h2 {
        font-weight: lighter;
        margin-left: 5%;
        padding-bottom: 12px;
        color: #7e4b3e;
    }
}

.category-box {
    border-radius: 4px;
    width: 90vw;
    margin-left: 1vw;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: inherit;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8));
}

.carousel {
    padding-top: 0%;
    margin-left: 5%;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    width: 95%;
    max-height: 80vh;
}

.slider {
    border-right-style: inset;
    border-width: thin;
    margin-left: 22px;
    padding-right: 5px;
    padding-top: 50px;
    border-radius: 2%;
    max-height: 500px;
    min-height: 500px;
    background-color: #e1e1e1;

    a {
        text-decoration: none;
        color: rgb(86, 65, 44);
    }
}

.slider-header {
    h2 {
        text-align: center;
        font-size: 19px;
        padding-bottom: 10px;
        font-weight: bold;
        color: #974034;
    }
}

.slider-image {
    img {
        width: 70%;
        border-radius: 10px;
        padding-left: 15%;
        padding-top: 2%;
    }
}

.slider-caption {
    p {
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px;
        color: #1c331c;
    }
}
