.PlaceOrder {
    background-color: #e7e7e7;
    max-width: 20vw;
    float: right;
    margin-right: 2%;
    margin-top: 16%;
    padding: 100px 20px 60px 20px;
    font-weight: lighter;
    border-radius: 5px;
    border-style: ridge;
    border-width: thin;
    border-color: #989898;
    .givenInfo {
        max-width: 15vw;
        margin-left: 2vw;
        font-family: "Agency FB";
        font-weight: lighter;
        span {
            float: right;
        }

        h2 {
            font-size: 15px;
            color: #3d623d;
            margin-top: -5px;
        }

        h4 {
            font-size: 12.9px;
            color: #345b34;
            margin-top: -5px;
        }

        h5 {
            font-size: 15px;
            color: #9d5e5e;
            margin-top: -5px;
        }
        hr{
            height: 1px;
            color: #d5d2d2;
        }
    }

    form {

        input {
            font-size: 17px;
            font-family: "Agency FB";
            width:80%;
            margin-left: 7%;
            height: 29px;
            margin-top: 5px;
            border-style: ridge;
            border-width: thin;
            border-radius: 5px;
            color: #6c0016;
            background-color: #c2c2c2;
            padding-left: 15px;
        }
        .button-glow{
            font-family: "Agency FB";
            height: 29px;
            width: 50%;
            margin-top: 4%;
            margin-left: 27%;
            background-color: #346235;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }
        .button-dim{
            font-family: "Agency FB";
            height: 29px;
            width: 50%;
            margin-top: 4%;
            margin-left: 27%;
            background-color: #a4aba7;
            color: #000000;
            cursor: crosshair;
            border-radius: 5px;
            font-size: 16px;

        }
    }
    .goButton{
        font-family: "Agency FB";
        height: 29px;
        font-size: 16px;
        width: 50%;
        margin-top: 4%;
        margin-left: 27%;
        background-color: #9a6969;
        color: #dadada;
        cursor: pointer;
        border-radius: 5px;
    }
}
