.detailed{
    font-family: "Agency FB";
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    .detailed-left{
        display: flex;
        flex-direction: column;
        p{
            background-color: #475e42;
            span{

                font-size: 28px;
            }
        }

        img{
            width: 250px;
            height: 350px;
            border-radius: 2px;
        }
        button{
            padding: 10px;
            color: #ffffff;
            border-style: none;
            background-color: #305b2a;
            cursor: pointer;
            font-size: 20px;
            width: 100%;
            font-family: "Agency FB";
            &:hover{
                background-color: #ffffff;
                color: #000000;
            }
        }
        .stockButton{
            padding: 7px;
            color: #ffffff;
            background-color: #000000;
            border-style: none;
            cursor: default;
            font-size: 20px;
            font-family: "Agency FB";
        }
    }

}
.detail{
    height: 100%;
    width: 100%;
    background-image: url("../js/assets/bg4.jpg");
    filter: sepia(40%);
    background-size: cover;
}

.product-info{
    background: linear-gradient(to top, rgb(121, 108, 92), rgb(255, 255, 255));
    padding: 5%;
    margin-top: 4%;
    border-radius: 15px;
    box-shadow:  3px 2px 5px #202020;
    .title-d{
        font-size: 26px;
        text-transform: uppercase;
        color: rgb(6, 44, 22);
    }
    .price-d{
        font-size: 20px;
        color: rgb(169, 52, 52);
    }
    .description-d{
        font-family: Arial;
        letter-spacing: 1px;
        font-size: 17px;
        color: rgb(14, 23, 14);
    }
}

