@import "variables";

.detailed{
    font-family: "Agency FB";
    padding-top: 10%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    .detailed-left{
        display: flex;
        flex-direction: column;
        p{
            background-color: #475e42;
            span{

                font-size: 28px;
            }
        }

        img{
            width: 250px;
            height: 350px;
            border-radius: 2px;
        }
        button{
            padding: 10px;
            color: #ffffff;
            border-style: none;
            background-color: #40573a;
            cursor: pointer;
            font-size: 20px;
            width: 100%;
            font-family: "Agency FB";
            &:hover{
                color: #ffffff;
                background-color: #000000;
            }
        }
        .stockButton{
            padding: 7px;
            color: #000000;
            background-color: white ;
            border-style: none;
            cursor: default;
            font-size: 20px;
            font-family: "Agency FB";
            &:hover{
                background-color: white;
                color: #000000;
            }
        }
    }

}
.detail{
    height: fit-content;
    width: 90%;
    //background-image: url("../js/assets/bg1.jpg");
    background-color: #ffffff;
    filter: sepia(20%);
    background-size: cover;
}

.product-info{
    //background: linear-gradient(to top, rgb(121, 108, 92), rgb(255, 255, 255));
    background-color: #ffffff;
    padding: 2%;
    margin-top: -2%;
    border-radius: 15px;
    text-align: justify;
    //box-shadow:  3px 2px 5px #202020;
    border-right-style: inset;
    border-width: 1px;
    border-color: #b6b6b6;
    .title-d{
        font-size: 25px;
        text-transform: uppercase;
        color: rgb(6, 44, 22);
        text-align: right;
    }
    .price-d{
        font-size: 20px;
        color: rgb(169, 52, 52);
        text-align: right;
    }
    .author-d{
        font-size: 21px;
        color: rgb(16, 14, 14);
        text-align: right;
    }
    .description-d{
        font-family:sans-serif;

        font-size: 17px;
        color: rgb(14, 23, 14);
    }
}
.loader-position-middle{
    float: left;
    margin-left: 45%;
    margin-top: 25%;
}
.loader-position-top{
    float: left;
    margin-left: 45%;
    margin-top: 7%;
}

