.login{
    min-height: 100vh;
    background-color: rgb(241, 241, 241);
}
.login-box{
    position: absolute;
    top: 25%;
    left: 20%;
    background-size: cover;
    padding: 100px;
    border-radius: 20px;
    p{
        color: red;
        font-size: 12.9px;
        margin-top: -15px;
    }
    input{
        width: 300px;
        height: 30px;
        border-color: rgb(106, 136, 116);
        border-radius: 5px;
        color: rgb(0, 0, 0);
        background-color: rgb(202, 214, 208);
    }
    button{
        cursor: pointer;
        width: 90px;
        height: 30px;
        border-radius:5px;
        color: rgb(12, 44, 15);
        background-color: rgb(182, 181, 180);
    }
}

